+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="RISC-V In HPC: The future of HPC!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> --><br/></br>
	<p class="lead mt-5">Organization information!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac gravida enim. Aliquam fermentum magna at ex tempor venenatis. Aenean venenatis suscipit lacus a tincidunt. Nunc a lacus pellentesque, pretium nunc in, mattis eros. Fusce elementum fringilla fringilla. Integer risus urna, luctus et mattis eu, pulvinar vitae eros. In quis felis scelerisque, mattis sem ac, mollis elit. Pellentesque sollicitudin lectus scelerisque, malesuada est nec, efficitur neque. Vivamus porttitor, ante sit amet ultrices ultricies, ante risus vestibulum nibh, eget commodo turpis sem at urna. Quisque sit amet risus euismod, aliquet augue non, sagittis augue. Pellentesque sed lectus quis dui placerat convallis. Mauris sed leo at diam posuere aliquet sed vitae purus. Morbi mauris mi, luctus eget libero rhoncus, fringilla posuere lacus. Suspendisse justo ante, facilisis at egestas at, euismod a dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="TITLE 1!" %}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac gravida enim. 

Aliquam fermentum magna at ex tempor venenatis. Aenean venenatis suscipit lacus a tincidunt.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/RISC-V-HPC" %}}
New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-lightbulb" title="TITLE 2!" url="https://github.com/RISC-V-HPC" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac gravida enim. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac gravida enim. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac gravida enim. 
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
